*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #FFF;
  font-family: 'Museo Sans', sans-serif;
  font-weight: 400;
  color: #1A1A1A; }

a, a:visited {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none; }

a:focus, a:active {
  outline: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit; }

ul {
  list-style: none; }

img, svg {
  vertical-align: top;
  max-width: 100%;
  height: auto; }

input, textarea, button, select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 0; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active, button:focus, button:active, textarea:focus, textarea:active {
  outline: none; }

.none {
  display: none; }

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 40px 80px; }

.container_small {
  margin-right: 102px;
  margin-left: 102px; }
  @media (max-width: 576px) {
    .container_small {
      margin-right: 0;
      margin-left: 0; } }

.container_variant {
  max-width: 1280px;
  margin: 0 auto;
  padding: 22px 40px 80px; }

.title-h2 {
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%; }
  @media (max-width: 768px) {
    .title-h2 {
      font-size: 25px; } }

.title-h2_center {
  text-align: center;
  margin-bottom: 32px; }

.title-h3 {
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #1A1A1A; }
  @media (max-width: 939px) {
    .title-h3 {
      font-size: 16px; } }

.support {
  position: relative;
  min-height: 306px;
  background: #93BBEA;
  border-radius: 40px;
  padding-top: 40px;
  padding-bottom: 54px; }

.support__content {
  max-width: 664px;
  margin: 0 auto; }

.letters-image {
  position: absolute;
  top: 37px;
  left: 0;
  max-width: 262.68px; }

.support__text-wrapper {
  max-width: 535px;
  margin: 0 auto 40px; }

.support__title {
  position: relative;
  margin-bottom: 4px;
  text-align: center;
  font-family: 'Museo Sans Cyrl 900', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  color: #FFF;
  z-index: 11; }
  @media (max-width: 768px) {
    .support__title {
      font-size: 45px; } }

.support__text {
  position: relative;
  font-family: 'Museo Sans Cyrl 300', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 140%;
  text-align: center;
  color: #FFF;
  z-index: 11; }

.smartphone-image {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 277.45px;
  height: auto;
  border-radius: 40px;
  z-index: 10; }

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 720px) {
    .buttons-wrapper {
      width: 340px;
      margin: 0 auto;
      justify-content: space-evenly; } }
  @media (max-width: 360px) {
    .buttons-wrapper {
      width: 280px; } }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  z-index: 11;
  padding: 7px;
  border-radius: 12px;
  border: none;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%; }
  .button img {
    margin-right: 8px; }

.button_white {
  width: 160px;
  background: #FFF;
  color: #1A1A1A; }
  @media (max-width: 720px) {
    .button_white {
      width: 130px;
      margin-bottom: 10px; } }

.button_green {
  background: #36BA5F;
  color: #FFF;
  width: 224px; }

.social-network {
  margin: 82px auto 0; }

.social-network__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 40px;
  background: #FFF;
  box-shadow: 0px 20px 60px rgba(26, 26, 26, 0.05);
  border-radius: 40px; }
  @media (max-width: 1150px) {
    .social-network__content {
      flex-wrap: wrap; } }

.social-network__subtitle {
  margin-bottom: 16px;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%; }

.social-network__links {
  display: flex; }
  @media (max-width: 1150px) {
    .social-network__links {
      margin-top: 16px; } }
  @media (max-width: 768px) {
    .social-network__links {
      width: 210px;
      flex-wrap: wrap; } }

.green-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9F9F9;
  border-radius: 13.3311px; }

.green-link_big {
  width: 56px;
  height: 56px; }
  @media (max-width: 768px) {
    .green-link_big {
      margin-bottom: 10px; } }

.social-network__links .green-link:not(:last-child) {
  margin-right: 14px; }
  @media (max-width: 360px) {
    .social-network__links .green-link:not(:last-child) {
      margin-right: 10px; } }

.questions {
  margin-top: 80px; }

.slider__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative; }

.slider__item {
  display: flex;
  justify-content: space-between;
  width: 282px;
  min-height: 160px;
  background: #FFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px; }

.slider__item + .slider__item {
  margin-left: 8px; }

.slider__text-wrapper {
  padding: 16px; }

.slider__text {
  margin-top: 8px;
  font-family: 'Museo Sans Cyrl 300', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #949494; }
  @media (max-width: 939px) {
    .slider__text {
      font-size: 13px; } }

.slider__img-wrapper {
  max-width: 104px;
  max-height: 162px; }

.slider__button {
  position: absolute;
  top: 58px;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: #FFF;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 35px; }

.info {
  margin-top: 80px; }

.info .title-h2 {
  margin-right: 16px; }

.info__link-wrapper {
  margin: 0 auto; }

.info__item {
  display: flex;
  justify-content: space-between;
  padding: 20px 24.45px 20px 24px;
  background: #FFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px; }

.info__item a {
  display: flex; }

.info__item + .info__item {
  margin-top: 12px; }

.info__text-wrapper {
  width: 435px;
  padding-right: 20px; }
  @media (max-width: 768px) {
    .info__text-wrapper {
      width: 270px; } }

.info_add-text {
  margin-top: 4px;
  font-family: 'Museo Sans Cyrl 300';
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #949494;
  display: inline-block; }

.article__title-wrapper {
  display: flex;
  margin-bottom: 16px; }

.article__title {
  font-family: 'Museo Sans Cyrl 900';
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  color: #1A1A1A; }

.article__title-img {
  margin-left: 12px; }

.article__text-wrapper {
  max-width: 690px;
  margin-bottom: 40px; }

.article__text {
  font-family: 'Museo Sans Cyrl 500';
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #1A1A1A; }

.support-chat__text {
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 600;
  font-size: 13px;
  line-height: 120%;
  color: #1A1A1A;
  margin-bottom: 16px; }

.support-chat__wrapper {
  display: flex; }

.support-chat__wrapper .green-link {
  margin-left: 8px; }

.green-link_small {
  width: 48px;
  height: 48px; }

/*# sourceMappingURL=style.css.map */
